* {
    margin: 0;
    font-family: work sans, 'Open Sans', sans-serif;
}

/* header banner */

.header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.header-text {
    padding: 150px 50px 100px 850px;
    text-align: left;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.header-descripation {
    font-size: 16px;
    color: #FFFFFF;
}

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

/* previous year failures  */

.failures-section {
    display: flex;
    margin: 100px;

}

.failures-container-description {
    padding: 200px 80px;
}

.failures-title {
    font-size: 40px;
    font-weight: 900;
    color: #151414;
    padding-bottom: 25px;
}

.failures-description {
    font-size: 16px;
    color: #444343;
    padding-bottom: 25px;
}

.failures-list {
    font-size: 16px;
    color: #444343;
}


/* my-plans */

.my-plane {
    text-align: center;
    padding: 150px;
}

.plane-title {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 70px;
}

.my-planes-section {
    display: flex;
}

.plane-section {
    padding: 30px;
}

.plane-name {
    padding: 10px 0;
    font-size: 30px;
    color: #151414;
}

/* keep positive */

.positive-section {
    margin: 0 150px;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 5px;
}

.positive-name {
    padding: 100px 40px;
    background: linear-gradient(90deg, #005FAC 1.98%, rgba(0, 95, 172, 0) 100%);
    height: 16.8vh;
    border-radius: 5px;
}

.positive-title {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    padding: 0 500px 0 0;
}

.positive-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    padding: 15px;
}

/* footer  */

.footer-name {
    display: flex;
    color: #FFFFFF;
    background-color: black;
    padding: 130px 100px;
}

.footer-section {
    padding: 0 150px;

}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
}

.contact {
    padding-bottom: 20px;
}

.Subscribe {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
}

.email {
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0;
    background-color: black;
    box-shadow: none;
}

.subscribe-button {
    background: #005FAC;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}